<div class="container d-flex align-items-center" style="height: 400px">
  <div class="col-6 mx-auto my-5">
    <div class="text-center">
      <!-- <h1>
        <span class="font-weight-light text-primary">Pay </span>{{ price }} LKR
      </h1> -->
    </div>
    <form (submit)="onPay()" #paymentForm="ngForm">
      <input
        id="creditCardNumber"
        ngModel
        #creditCardNumber="ngModel"
        type="text"
        placeholder="Enter your credit card number"
        class="form-control mb-3"
        pattern="4[0-9]{12}"
        name="creditCardNumber"
      />
      <div
        class="alert alert-danger"
        *ngIf="!creditCardNumber.valid && creditCardNumber.touched"
      >
        Invalid visa credit card number
      </div>
      <button class="btn btn-warning btn-block" type="submit">
        <h1 class="mb-0">
          <span class="font-weight-light">Pay </span>{{ price }} LKR
        </h1>
      </button>
    </form>
  </div>
</div>
