<div class="container">
  <div class="row">
    <div class="col-6">
      <img
        [src]="artwork.imagePath"
        [alt]="artwork.title"
        style="width:100%"
        class="p-5"
      />
    </div>
    <div class="col-6 py-5">
      <h1 class="mb-0">{{ artwork.title }}</h1>
      <h4 class="text-light bg-dark p-1 pl-3">
        {{ artwork.price }} LKR
        <a
          class="text-light font-weight-light"
          style="font-size: 1rem"
          [routerLink]="['/user', artwork.designer._id]"
          routerLinkActive="router-link-active"
          >| {{ artwork.designer.username }}</a
        >
      </h4>

      <p class="mt-2">{{ artwork.preview }}</p>
      <div class="row ml-1  ">
        <p class="align-middle m-0 pt-2 mr-2"><b>Related Tags:</b></p>
        <div *ngFor="let tag of artwork.tags">
          <button
            (click)="searchByTag(tag.display)"
            class="btn btn-sm btn-outline-dark m-1"
          >
            {{ tag.display }}
          </button>
        </div>
      </div>
      <a
        *ngIf="isPaid && isAuth"
        class="btn btn-success btn-lg btn-block mt-3"
        href="{{ artwork.zipFilePath }}"
        (click)="onDownload()"
      >
        Download
      </a>
      <button
        *ngIf="!isPaid && isAuth"
        [routerLink]="['/payment', artwork.price, artwork._id]"
        routerLinkActive="router-link-active"
        class="btn btn-warning btn-lg btn-block mt-3"
      >
        Pay
      </button>
      <div class="alert alert-warning text-center mt-4" *ngIf="!isAuth">
        Please<span class="text-primary"> sign in </span>to download this
        artwork
      </div>
    </div>
  </div>
</div>
